<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play</title>
</head>
<body>
    <div id="playerForm">
        <h2>Enter Player Names</h2>
        <input type="text" id="player1" placeholder="Enter Player 1 Name">
        <input type="text" id="player2" placeholder="Enter Player 2 Name">
        <button id="startGame" type="button">Start Game</button>
    </div>  
    <script src="../index.js"></script>
</body>
</html>